.top{
	 width:24%;
	 height:55px;
	float:left;
	 margin-top:2%;
	 margin-left:34.5%;
	 font-size:90px;
	 color:white;
	 font-weight:950;
}
.men{
      width:35%;
	  height:500px;
	  background:;
	  float:left;
	  margin-top:4%;
	  margin-left:7%;
}

.women{
	  width:35%;
	  height:500px;
	  background:;
	  float:left;
	  margin-top:4%;
	  margin-left:7%;
}

.divi{
	 width:0.25%;
	 height:500px;
	 background:black;
	 float:left;
	 margin-top:4%;
	 margin-left:7%;
}

.pic{
	width:70%;
	height:55%;
	float:left;
	background:;
	margin-left:15%;
	margin-top:10%;	
	border-radius:10%;
}

.text{
	width:75%;
	height:20%;
	background:black;
	float:left;
	color:white;
	margin-top:5%;
	margin-left:12%;
	box-sizing:border-box;
	font-size:50px;
	font-family:Arial;
	text-align:center;
	padding-top:4%;
	border-radius:150px;
}
.nav{
	width:100%;
	height:75px;
	background:#111;
	float:left;
	box-sizing:border-box;
}
#home{
	width:10%;
	background:;
	float:left;
	margin-top:-72px;
	margin-left:90%;
}
.cil{
	width:100%;
	height:15%;
	background:;
	float:left;
	margin-left:%;
	margin-top:2%;
}
.cil1{
	width:8.5%;
	height:100%;
	background:rgb(100,100,100);
	float:left;
	margin-left:3.5%;
	margin-top:;
	border-radius:50%;
}
.cil2{
	width:100%;
	height:100%;
	background:;
	float:left;
	margin-left:%;
	border-radius:50%;
}
.cat{
	width:auto;
	font-family:Arial;
	font-size:18px;
	background:;
	float:left;
	margin-left:5%;
	margin-top:.5%;
}
.best{
	width:70%;
	height:50px;
	background:;
	float:left;
	font-family:Arial;
	font-size:20px;
	margin-left:10%;
	margin-top:5%;
}
.bigbox{
	width:27%;
	height:65%;
	background:white;
	float:left;
	margin-top:%;
	margin-left:10%;
	border-style:ridge;
	
}
.bigbox2{
	width:27%;
	height:65%;
	background:white;
	float:left;
	margin-top:%;
	margin-left:1%;
	border-style:ridge;
	
}
.mon{
	width:auto;
	height:auto;
	background:;
	float:left;
	margin:2%;
}
.sml{
	width:55%;
	height:70%;
	background:red;
	float:left;
	margin-top:3%;
	margin-left:3%;
	border-style:solid;
}
.i{
	width:100%;
	height:100%;
	float:left;
}
.sml2{
	width:32%;
	height:33.5%;
	background:blue;
	float:left;
	margin-top:3%;
	margin-left:3%;
	border-style:solid;
}
.i2{
	width:100%;
	height:100%;
	float:left;
}
.txt1{
	width:auto;
	background:;
	float:left;
	margin:5%;
	font-family:Arial;
	padding-left:1.5%;
	letter-spacing:1.5px;
	word-spacing:10px;
}
.txt2{
	width:auto;
	background:;
	float:left;
	margin-left:3%;
	font-family:Arial;
	padding-left:1.5%;
	letter-spacing:1.5px;
	word-spacing:10px;
}



